.container{
	margin: 50px 10% 50px 10%;
	padding: 50px;
	font-family: 'Raleway', sans-serif;
}

h1{
	text-align: center;
	padding-bottom: 5px;
}

p{
	line-height: 200%;
	padding: 10px;
	font-size: 16px;
}

.photo{
	font-size: 5vw;
	font-family: 'Raleway', serif;
	background-size: 105%;
	width: 100%;
	display: inline-block;
	text-align: center;
	color: white;
	text-shadow: 0 2px 0 black, 0 0 10px black;
}

.city{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/geometric-wallpaper-6.jpg);

	height: 45vw;
	line-height: 45vw;
}

.academics{
	/*background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/academics.jpg);*/
	background: linear-gradient(rgb(231, 76, 60), rgb(192, 57, 43));
	height: 19vw;
	line-height: 19vw;
}

.coding{
	/*background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/coding.jpg);*/
	background: linear-gradient(rgb(52, 152, 219),rgb(41, 128, 185));
	height: 19vw;
	line-height: 19vw;
}

.speedcubing{
	/*background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/cubing.jpg);*/
	background: linear-gradient(rgb(26, 188, 156),rgb(22, 160, 133));
	height: 19vw;
	line-height: 19vw;
}

.desktop{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/desktop.jpg);
	height: 19vw;
	line-height: 19vw;
}

span{
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


* {
	margin: 0;
}

.container a:link, .container a:visited{
	text-decoration: none;
	color: #A2A2A2;
	-webkit-transition: .5s;
	transition: .5s;
}

nav ul {
	list-style-type: none;
	padding: 0;
    overflow: hidden;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
	background-color: rgba(242,242,242,0.5);

}

nav li {
	float: right;

}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;    
	color: #d6d4d4;		
	-webkit-transition: .5s;
	transition: .5s;
}

nav li a:hover {
	color: #006bb3;
}

@media screen and (max-width: 760px){
    .container{
		margin: 0;
		padding: 20px;
	}
}

.footer{
	padding: 20px 20% 20px 20%;
	margin-bottom: -20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background-color: black;
	display: block;
	color: white;
}