.container{
	margin: 50px 20% 50px 20%;
	padding: 50px;
	font-family: 'Vollkorn', serif;
}

h1{
	text-align: center;
}

p{
	line-height: 200%;
	padding: 10px;
}

.photo{
	font-size: 60px;
	font-family: 'Eczar', serif;

}

.sunset{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/urban-wallpaper-16.jpg);
	background-size: 105%;
	width: 100%;
	display: inline-block;
	height: 900px;
	text-align: center;
	color: white;
	line-height: 900px;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	padding-bottom: 50px;
}

.academics{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/academics.jpg);
	background-size: 105%;
	width: 100%;
	display: inline-block;
	height: 300px;
	text-align: center;
	color: white;
	line-height: 300px;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	padding-bottom: 50px;
}

.coding{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/coding.jpg);
	background-size: 105%;
	width: 100%;
	display: inline-block;
	height: 300px;
	text-align: center;
	color: white;
	line-height: 300px;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	padding-bottom: 50px;
}

.speedcubing{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/cubing.jpg);
	background-size: 105%;
	width: 100%;
	display: inline-block;
	height: 300px;
	text-align: center;
	color: white;
	line-height: 300px;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	padding-bottom: 50px;
}

.desktop{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/desktop.jpg);
	background-size: 105%;
	width: 100%;
	display: inline-block;
	height: 300px;
	text-align: center;
	color: white;
	line-height: 300px;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	padding-bottom: 50px;
}

span{
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


* {
	margin: 0;
}

.container a:link, .container a:visited{
	text-decoration: none;
	color: #A2A2A2;
	-webkit-transition: .5s;
	transition: .5s;
}

nav ul {
	list-style-type: none;
	padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: 'Rubik', serif;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #99ccff
}

nav li {
	float: right;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;    
	color: #FFFFFF;		
	-webkit-transition: .5s;
	transition: .5s;

}

nav li a:hover {
	color: #006bb3;
}

@media screen and (max-width: 760px){
    .container{
		margin: 0;
		padding: 20px;
	}
}

.footer{
	padding: 20px 20% 20px 20%;
	margin-bottom: -20px;
	font-family: 'Rubik', serif;
	background-color: black;
	display: block;
	color: white;
}