<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
     
       <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
       <!-- jQuery -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href="/css/main.css" type="text/css" rel="stylesheet">
       
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
	<a href="/" class="brand-logo">Brandon Lin</a>
	<ul id="nav-mobile" class="right hide-on-med-and-down side-nav">
          <li><a href="/blog">Blog</a></li>
	</ul>
	<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div class="container">
      {{ content }}
    </div>

    <script src="/init.js"></script>
  </body>
</html>
